*{
	padding: 0;
	margin: 0;
}
body{
	background:hsl(0, 100%, 25%);
}
button{
	font-size: 20px;
}
button a{
	text-decoration: none;
	color: hsl(0, 100%, 25%);
}
h1{
	text-align: center;
	font-size: 50px;
	color:black;
}
h4{
	text-align: center;
	color: white;
	font-size: 20px;
}
.help{
	padding: 25px;
	margin: 30px;
	font-size: 30px;
	background-color: white;
}
.help ul li{
	text-decoration: none;
	list-style: none;
	color:hsl(0, 100%, 25%);
	cursor: pointer;
}
h2{
	text-align: center;
	color: white;
	font-size: 40px;
}
p{
	text-align: center;
	color: black;
	font-size: 23px;
}
input{
	width: 45%;
	height: 200px;
	border-radius: 25px;
	margin-left: 25%;
	top: 50%;
	text-align: center;
	font-weight: bolder;
	border:2px solid hsl(0, 100%, 25%);
}
ol{
	padding-top: 30px;
}
ol a{
	text-decoration: none;
	margin: 110px;
	color:white;

}